# NON-DEFINED VARIABLES ARE MEANT TO BE DEFINED BY YOU

# TimescaleDB
TIMESCALE_USER=
TIMESCALE_PASSWORD=
TIMESCALE_DB=

# Grafana
GRAFANA_PASSWORD=

# Alpaca
ALPACA_API_KEY=
ALPACA_API_SECRET=
WS_URL=wss://stream.data.alpaca.markets/v2/iex

# NewsAPI
NEWS_API_KEY=

# Schema Registry
SCHEMA_REGISTRY_URL=http://localhost:8081

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# Symbols (re-configure as you prefer)
SYMBOLS=AAPL,TSLA,MSFT,GOOGL,AMZN,NVDA

# Redis
REDIS_HOST=localhost
REDIS_PORT=6380

REDIS_AIRFLOW_HOST=localhost
REDIS_AIRFLOW_PORT=6379

# Amazon
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET=

# Airflow
AIRFLOW_UID=50000